
<ion-content fullscreen="true" class="checkout-content-container mt-5 mb-5">
<ion-row class="mt-5 p-4">
  <header>
    <h1>Checkout</h1>
  </header>
</ion-row>
<ion-row>
  <main class="checkout-page-divs">
    <section class="checkout-form order-sm-2">
      <form [formGroup]="checkoutForm" (ngSubmit)="checkout()">
        <h6>Contact information</h6>
        <div class="form-control">
          <label for="checkout-email">E-mail <ion-icon name="star"></ion-icon></label>
          <div>
            <span class="fa fa-envelope"></span>
            <input type="email" id="checkout-email" name="checkout-email" formControlName="email" placeholder="Enter your email...">
          </div>
        </div>
        <div class="form-control">
          <label for="checkout-phone">Phone  <ion-icon name="star"></ion-icon></label>
          <div>
            <span class="fa fa-phone"></span>
            <input type="tel" name="checkout-phone" formControlName="phone" id="checkout-phone" placeholder="Enter you phone...">
          </div>
        </div>
        <br>
        <h6>Shipping address</h6>
        <div class="form-control">
          <label for="checkout-name">Full name <ion-icon name="star"></ion-icon></label>
          <div>
            <span class="fa fa-user-circle"></span>
            <input type="text" id="checkout-name"  formControlName="name" name="checkout-name" placeholder="Enter you name...">
          </div>
        </div>
        <div class="form-control">
          <label for="checkout-address">Address <ion-icon name="star"></ion-icon></label>
          <div>
            <span class="fa fa-home"></span>
            <input type="text" name="checkout-address"  formControlName="address" id="checkout-address" placeholder="Your address...">
          </div>
        </div>
        <div class="form-control">
          <label for="checkout-city">City  <ion-icon name="star"></ion-icon></label>
          <div>
            <span class="fa fa-building"></span>
            <input type="text" name="checkout-city"  formControlName="city" id="checkout-city" placeholder="Your city...">
          </div>
        </div>
        <div class="form-group">
          <div class="form-control">
            <label for="checkout-country">Country <ion-icon name="star"></ion-icon></label>
            <div>
              <span class="fa fa-globe"></span>
              <input type="text" name="checkout-country"  formControlName="country" id="checkout-country" placeholder="Your country..." list="country-list">
              <datalist id="country-list">
                <option value="India"></option>
                <option value="USA"></option>
                <option value="Russia"></option>
                <option value="Japan"></option>
                <option value="Egypt"></option>
              </datalist>
            </div>
          </div>
          <div class="form-control">
            <label for="checkout-postal">Postal code <ion-icon name="star"></ion-icon></label>
            <div>
              <span class="fa fa-archive"></span>
              <input type="numeric" name="checkout-postal"  formControlName="postal" id="checkout-postal" placeholder="Your postal code...">
            </div>
          </div>
        </div>
        <div class="form-control checkbox-control">
          <input type="checkbox" name="checkout-checkbox"  formControlName="saveInfo" id="checkout-checkbox">
          <label for="checkout-checkbox">Save this information for next time</label>
        </div>
     
      </form>
      <button class="btn mt-3" [disabled]="!checkoutForm.valid" (click)="checkout()">
        <ion-icon name="fa-lock"></ion-icon> Checkout Now
      </button>
    </section>
  </main>


</ion-row>

<ion-row class="mt-5 mb-5"></ion-row>

</ion-content>



