
.checkout-content-container {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    width: 100%;
    margin: 0px auto;
    padding: 50px 0px 0px 20px;
    color: #4E5150;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    header {

        height: 5%;
        margin-bottom: 30px;
        
        
        h1 {
            font-size: 50px;
            color: #202121;
            font-weight: 900;
        }

    }

    main {
        width: 100%;
        height: 85%;
        display: flex;
        column-gap: 10px;
        justify-content: center;
        align-items: center;


        .checkout-form  {
            width: 50%;

            form {

                h6 {
                    font-size: 1rem;
                    font-weight: 600;
                }

                .form-control  {
                    margin: 10px 0px;
                    position: relative;

                    label:not([for="checkout-checkbox"]) {
                        display: block;
                        font-size: 10px;
                        font-weight: 500;
                        margin-bottom: 2px;
                    }

                    input:not([type="checkbox"]) {
                        width: 100%;
                        padding: 10px 10px 10px 40px;
                        border-radius: 10px;
                        outline: none;
                        border: .2px solid #4e515085;
                        font-size: 12px;
                        font-weight: 700;

                        &::placeholder {
                            font-size: 10px;
                            font-weight: 500;
                        }
                    }

                    label[for="checkout-checkbox"] {
                        font-size: 9px;
                        font-weight: 500;
                        line-height: 10px;
                    }

                    > div {
                        position: relative;

                        span.fa {
                            position: absolute;
                            top: 50%;
                            left: 0%;
                            transform: translate(15px, -50%);
                        }
                    }
                }

                .form-group {
                    display: flex;
                    column-gap: 25px;
                }

                .checkbox-control {
                    display: flex;
                    align-items: center;
                    column-gap: 10px;
                }

                .form-control-btn {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    button {
                        padding: 10px 25px;
                        font-size: 10px;
                        color: #fff;
                        background: #222121;
                        border: 0;
                        border-radius: 7px;
                        letter-spacing: .5px;
                        font-weight: 200;
                        cursor: pointer;
                    }
                }
            }
        }

        .checkout-details {
            width: 40%;

            .checkout-details-inner {
                background: #F2F2F2;
                border-radius: 10px;
                padding: 20px;


                .checkout-lists {
                    display: flex;
                    flex-direction: column;
                    row-gap: 15px;
                    margin-bottom: 40px;

                    

                  
                }

                .checkout-shipping, .checkout-total {
                    display: flex;
                    font-size: 16px;
                    padding: 5px 0px;
                    border-top: 1px solid #BDBDBD;
                    justify-content: space-between;

                    p {
                        font-size: 10px;
                        font-weight: 500;
                    }
                }
            }
        }
    }

    footer {

        height: 5%;
        color: #BDBDBD;
        display: -ms-grid;
        display: grid;
        place-items: center;
        font-size: 12px;
        
        a {
            text-decoration: none;
            color: inherit;
        }

    }
      
}

@media screen and (max-width: 1024px) {
    body {
        width: 80%;

        main {
            column-gap: 70px;
        }
    }
}

@media screen and (max-width: 768px) {
    .checkout-content-container{
        width: 100%;

        main {
            flex-direction: column-reverse;
            height: auto;
            margin-bottom: 50px;

            .checkout-form {
                width: 100%;
                margin-top: 20px;
                padding: 5px;
            }

            .checkout-details {
                width: 100%;
            }
        }

        footer {
            height: 10%;
        }
    }
}

ion-row{
    width: 100% !important;
}




.right-side {
    background-color: #fff;
    padding: 1.8rem 3.2rem;
  }
  
  .receipt {
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px;
  }
  
  .receipt-heading {
    font-size: 1.6rem;
    text-align: left;
  }
  
  .table {
    border-collapse: separate;
    color: #1f1f1d;
    font-size: 12px;
    width: 100%;
    tr{
        border: 1px solid red;
    }
  }
  .total td {
    font-size: 12px;
    font-weight: 700;
  }
  
  .price {
    text-align: end;
  }
  
  
  .payment-heading {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  
  .form-box {
    display: grid;
    grid-template-rows: 1fr;
    gap: 5px;
  }
  

  
  .expires,
  .form-box label {
    font-size: 14px;
    font-weight: 700;
  }
  
  .form-box input {
    font-family: inherit;
    font-size: 1.2rem;
    padding: 0.5rem;
    width: 100%;
    margin-top: 13px;
    margin-bottom: 13px;
  }
  
  .form-box select {
    padding: 0.5rem;
    margin: 14px;
  }
  
  .form-box #cvv {
    width: 70%;
  }
  
  .cvv-info:link,
  .cvv-info:visited {
    color: inherit;
    text-decoration: underline;
  }
  
  .cvv-info:hover,
  .cvv-info:active {
    color: #5f7986;
    text-decoration: none;
  }
  
  .btn {
    background-color: #4c616b;
    border: none;
    border-radius: 8px;
    color: #eff2f3;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
    padding: 20px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #5f7986;
    transition: ease-out 0.1s;
  }
  
 
  
  .form-box *:focus {
    outline: none;
    box-shadow: 0 0 0 0.8rem rgba(139, 139, 107, 0.5);
    border-radius: 8px;
  }
  .card-experation{
     display: flex;
     justify-content: flex-start;
     align-items: center;
  }

  .form-control ion-icon{
    color: red;
    margin-left: 3px;
  }
  input.ng-invalid.ng-touched {
    border: 1px solid red !important;
  }


  .successMesg h1 {
    color: #88B04B;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
  }
   .successMesg p {
    color: #404F5E;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-size:20px;
    margin: 0;
  }
  .successMesg ion-icon {
  color: #9ABC66;
  font-size: 100px;
  line-height: 200px;
  margin-left:-15px;
  }
  .successMesg{
  background: white;
  padding: 60px;
  border-radius: 4px;
  box-shadow: 0 2px 3px #C8D0D8;
  display: inline-block;
  margin: 0 auto;
  }
  .successMesg .icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
  }
