
<ion-content fullscreen="true" class="checkout-content-container mt-5 mb-5">
<ion-row class="mt-5 p-4">
  <header>
    <h1>Checkout</h1>
  </header>
</ion-row>
<ion-row>
  <main class="checkout-page-divs">
    <section class="checkout-form order-sm-2">
      <form action="#!" method="get">
        <h6>Contact information</h6>
        <div class="form-control">
          <label for="checkout-email">E-mail</label>
          <div>
            <span class="fa fa-envelope"></span>
            <input type="email" id="checkout-email" name="checkout-email" placeholder="Enter your email...">
          </div>
        </div>
        <div class="form-control">
          <label for="checkout-phone">Phone</label>
          <div>
            <span class="fa fa-phone"></span>
            <input type="tel" name="checkout-phone" id="checkout-phone" placeholder="Enter you phone...">
          </div>
        </div>
        <br>
        <h6>Shipping address</h6>
        <div class="form-control">
          <label for="checkout-name">Full name</label>
          <div>
            <span class="fa fa-user-circle"></span>
            <input type="text" id="checkout-name" name="checkout-name" placeholder="Enter you name...">
          </div>
        </div>
        <div class="form-control">
          <label for="checkout-address">Address</label>
          <div>
            <span class="fa fa-home"></span>
            <input type="text" name="checkout-address" id="checkout-address" placeholder="Your address...">
          </div>
        </div>
        <div class="form-control">
          <label for="checkout-city">City</label>
          <div>
            <span class="fa fa-building"></span>
            <input type="text" name="checkout-city" id="checkout-city" placeholder="Your city...">
          </div>
        </div>
        <div class="form-group">
          <div class="form-control">
            <label for="checkout-country">Country</label>
            <div>
              <span class="fa fa-globe"></span>
              <input type="text" name="checkout-country" id="checkout-country" placeholder="Your country..." list="country-list">
              <datalist id="country-list">
                <option value="India"></option>
                <option value="USA"></option>
                <option value="Russia"></option>
                <option value="Japan"></option>
                <option value="Egypt"></option>
              </datalist>
            </div>
          </div>
          <div class="form-control">
            <label for="checkout-postal">Postal code</label>
            <div>
              <span class="fa fa-archive"></span>
              <input type="numeric" name="checkout-postal" id="checkout-postal" placeholder="Your postal code...">
            </div>
          </div>
        </div>
        <div class="form-control checkbox-control">
          <input type="checkbox" name="checkout-checkbox" id="checkout-checkbox">
          <label for="checkout-checkbox">Save this information for next time</label>
        </div>
     
      </form>
      <button class="btn mt-3" (click)="checkout()">
        <ion-icon name="fa-lock"></ion-icon> Pay Now
      </button>
    </section>
  
    <section class="checkout-details mt-3 order-sm-1">
      <div class="checkout-details-inner">
        <div class="checkout-lists">
          <div class="right-side">
            <div class="receipt">
              <h2 class="receipt-heading">Receipt Summary</h2>
              <div>
                <table class="table">
                  <tr class="mt-3">
                    <td>2 Items</td>
                    <td class="price">499.00 </td>
                  </tr>
               
                  <tr class="total mt-3">
                    <td>Total</td>
                    <td class="price">546.41 $</td>
                  </tr>
                </table>
              </div>
            </div>
    
            <div class="payment-info mt-3">
              <h3 class="payment-heading">Payment Information</h3>
              <form
                class="form-box"
                enctype="text/plain"
                method="get"
                target="_blank"
              >
                <div>
                  <label for="full-name">Full Name</label>
                  <input
                    id="full-name"
                    name="full-name"
                    placeholder="Ali Hassan"
                    required
                    type="text"
                  />
                </div>
    
                <div>
                  <label for="credit-card-num"
                    >Card Number
                  ></label>
                  <input
                    id="credit-card-num"
                    name="credit-card-num"
                    placeholder="1111-2222-3333-4444"
                    required
                    type="text"
                  />
                </div>
    
                <div class="expiration-year-section">
                  <p class="expires">Expires on:</p>
                  <div class="card-experation">
                    <div>
                    <label for="expiration-month">Month</label>
                    <select id="expiration-month" name="expiration-month" required>
                      <option value="">Month:</option>
                      <option value="">January</option>
                      <option value="">February</option>
                      <option value="">March</option>
                      <option value="">April</option>
                      <option value="">May</option>
                      <option value="">June</option>
                      <option value="">July</option>
                      <option value="">August</option>
                      <option value="">September</option>
                      <option value="">October</option>
                      <option value="">November</option>
                      <option value="">Decemeber</option>
                    </select>
                    </div>
                    <div>
                    <label class="expiration-year">Year</label>
                    <select id="experation-year" name="experation-year" required>
                      <option value="">Year</option>
                      <option value="">2023</option>
                      <option value="">2024</option>
                      <option value="">2025</option>
                      <option value="">2026</option>
                    </select>
                  </div>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  
  </main>


</ion-row>

<ion-row class="mt-5 mb-5"></ion-row>

</ion-content>



