
<ion-content [fullscreen]="true" class="main-shop-container">
  

  <div class='K2-grid coll-3 icon-p-2 mt5' *ngIf="!isLoading">
    <h2> Explore our latest categories </h2>
    <div class="home-chips">
    <ion-chip *ngFor="let element of data?.super_categories; let i = index"
    [ngClass]="{'active': i === activeChipIndex}"
    (click)="setActiveChip(i,element)">
<ion-label>{{ element?.name }}</ion-label>
</ion-chip>
</div>            
    <ul>
      <li *ngFor="let element of data?.categories; let i = index">
        <div class="bg" title="{{element.name}}">
          <img [src]="element?.image ? element?.image:'../../assets/foods.jpeg'" alt="">
          <div class="overlay">
            <p class="truncate ">{{element.name}}</p>
            
          </div>
        </div>
    </li>
    
  
    </ul>
    </div>
  <div class = "main-wrapper" *ngIf="!isLoading">
    <div class="loader-container-colum" *ngIf="searching">
      <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
          <span class="sr-only"></span>
        </div>
      </div>
    </div>
    <div class = "container" *ngIf="!searching">
        <div class = "main-title">
            <h1>Products List</h1>
        </div>

        <div class = "item-list">
            <div class = "item" *ngFor="let product of items ; let i = index">
                <div class = "item-img">
                    <img [src] = "product?.image? product?.image:'../../assets/foods.jpeg'">
                    <div class = "icon-list">
                        <button type = "button">
                            <ion-icon name="heart"></ion-icon>
                        </button>
                        <button type = "button">
                          <ion-icon name="eye"></ion-icon>
                        </button>
                        <button (click)="addToCart(product)" type = "button">
                          <ion-icon name="cart"></ion-icon>
                        </button>
                    </div>
                </div>
                <div class = "item-detail">
                    <a href = "#" class = "item-name">{{product.name}}</a>
                    <div class = "item-price">
                        <span class = "new-price">${{product.price}}</span>
                        <span class = "old-price">$275.60</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore fugiat quod corporis delectus sequi laudantium molestias vero distinctio, qui numquam dolore, corrupti, enim consectetur cum?</p>
                    <button type = "button" class = "add-btn">add to cart</button>
                </div>
            </div>


 
        </div>
    </div> 
</div>








         





