
  
  .table-image {
    td, th {
      vertical-align: middle;
    }
  }
@media(max-width:800){
    .main-row{
        overflow-x: scroll;
    
      }

}
.table-man{
    margin-top: 90px;
    width: 100%;

}
.buttons-con{
    border: 1px solid red;
}
  