$bg: rgba(74, 72, 72, 0.2);

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container1 {
  width: 85vw;
  margin: 1rem auto;
}


.bg,
.overlay {
  text-align: center;
}

img,
.overlay {
  transition: .3s all;
  border-radius: 3px;
}

.bg {
  float: left;
  position: relative;
  width: 200%;
  height: 100px;
  overflow: hidden;
  background-color: #ffff;
  cursor: pointer;
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: $bg;
    color: #fff;
    opacity: 0;
    p {
      font-family: 'Julius Sans One', sans-serif;
      margin-top: 20px;
      font-size: 20px;
      font-weight: bold;
      padding: 10px;
      line-height: 25px;
    }
  }
  &:hover {
    .overlay {
      opacity: 1;
    }
    img {
      -webkit-filter: blur(2px);
      filter: blur(2px);
    }
  }
}

@media screen and (max-width: 1148px) {
  .bg {
    max-width: 48%;
    margin: 1%;
  }
}

@media screen and (max-width: 768px) {
  .bg {
    float: none;
    max-width: 80%;
    margin: 1% auto;
  }
}

.main-shop-container{
  margin-top: 100px;

}



    .K2-grid {
      padding: 5px;
      text-align: center;
      margin-top: 70px !important;
      h2{
        font-size: 50px;
        color: #a5ba8d;
        margin-bottom: 20px;
        margin-top: 20px;
        font-weight: 800px;
      }
  }
  
  .K2-grid ul {
      clear: both;
      margin: 15px 0 20px;
      padding:0;
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      overflow: scroll;
      gap: 7px;
  }
  .truncate {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .coll-3 ul li {
      min-width: 135px;
  }
  
  .K2-grid li {
      font-size: 0.9em;
      font-weight: 500;
      line-height: 1.3em;
      text-align: center;
      background: #fff;
      border-radius: 5px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .K2-grid li a {
      display: block;
      text-decoration: none;
      color: #333;
  }
  
  .K2-grid li span {
      display: block;
  }

/////////////////////////////////////////////////////////////


.home-chips{
  margin-top: 20px;
}
.home-chips ion-chip{
  padding: 8px 20px;
  margin-top: 20px;
  margin: 4px;

}
.home-chips .active{
  color: #fff;
  --background: #a5ba8d;
}
.custom-toast{
  width: 300px;
  height: 100px;
  background-color: rgb(68, 180, 68);
  color: #ffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
}

@media(max-width:600px){
  .K2-grid  h2{
    font-size: 30px;
  }
}
.loader-container-colum{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


///////////////////////

.productItem{
  width: 22%;
}
.main-favourites-container{
  margin-top: 300px;
  min-height: 130px;
  color: red;
}


.product-grid{
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
.product-grid .product-image{
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.product-grid .product-image a.image{display: block; }
.product-grid .product-image img{
  width: 100%;
  height: 250px;
}
.product-grid .product-discount-label{
  color: #fff;
  background: #A5BA8D;
  font-size: 13px;
  font-weight: 600;
  line-height: 25px;
  padding: 0 20px;
  position: absolute;
  top: 10px;
  left: 0;
}
.product-grid .product-links{
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 10px;
  right: -50px;
  transition: all .5s ease 0s;
}
.product-grid:hover .product-links{ right: 10px; }
.product-grid .product-links li a{
  color: #333;
  background: transparent;
  font-size: 17px;
  line-height: 38px;
  width: 38px;
  height: 38px;
  border: 1px solid #333;
  border-bottom: none;
  display: block;
  transition: all 0.3s;
}
.product-grid .product-links li:last-child a{ border-bottom: 1px solid #333; }
.product-grid .product-links li a:hover{
  color: #fff;
  background: #333;
}
.product-grid .add-to-cart{
  background: #A5BA8D;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100%;
  padding: 10px 26px;
  position: absolute;
  left: 0;
  bottom: -60px;
  transition: all 0.3s ease 0s;
}
.product-grid:hover .add-to-cart{ bottom: 0; }
.product-grid .add-to-cart:hover{ text-shadow: 4px 4px rgba(0,0,0,0.2); }
.product-grid .product-content{
  background: #fff;
  padding: 15px;
  box-shadow: 0 0 0 5px rgba(0,0,0,0.1) inset;
}
.product-grid .title{
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 0 7px;
}
.product-grid .title a{
  color: #777;
  transition: all 0.3s ease 0s;
}
.product-grid .title a:hover{ color: #a5ba8d; }
.product-grid .price{
  color: #0d0d0d;
  font-size: 14px;
  font-weight: 600;
}
.product-grid .price span{
  color: #888;
  font-size: 13px;
  font-weight: 400;
  text-decoration: line-through;
}
@media screen and (max-width: 990px){
  .product-grid{ margin-bottom: 30px; }
}

@media(max-width:600px){
  .productItem{
    width: 100%;
  }
  .product-grid .product-image img{
    width: 100%;
    height: 310px;
  }
}