

<ion-content>
  <div class="main-hero-section">
   <div class="hero-content">
    <h1>Get latest winter collections</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium voluptas corporis dicta reprehenderit nam ex similique quasi ipsam adipisci cumque.</p>
    <button style="background-color:rgb(34, 33, 33); color:#ffff; padding: 10px 20px;" routerLink="/shop">Shop Now</button>
   </div>
  </div>
  <ion-grid>
    <ion-row class="ion-align-items-center section-header-row">
      <ion-col>
        <ion-title class="ion-text-center">
          Our Super Categories
        </ion-title>
      </ion-col>
    </ion-row>

    <ion-row class="home-chips">
        <ion-chip *ngFor="let element of data?.super_categories; let i = index"
                  [ngClass]="{'active': i === activeChipIndex}"
                  (click)="setActiveChip(i,element)">
          <ion-label>{{ element?.name }}</ion-label>
        </ion-chip>
     
      
    </ion-row>
    <ion-row class="categories-section-row">
      <div class="category-box" *ngFor="let element of data?.categories; let i = index">
        <img [src]="element?.image ? element?.image:'../../assets/iconiv.jpg'" alt="">
      
        <ion-label>{{ element?.name ? element?.name:'Testing Name' }}</ion-label>
      </div>
    </ion-row>

    
    <ion-row class="items-section-row">
      <ng-container>
        <div class="container">
          <h3 class="text-center" style="margin-top: 50px;">TREANDLY PRODUCTS</h3>
          <div class="row products-trendy-container" style="margin-top: 50px;">
            <ng-container *ngFor="let product of items ; let i = index"> 
                          <div class="col-md-3 py-3 py-md-0 mt-3" *ngIf="i<=15">

                  <div class="card" id="c">
                      <img style="width:100% !important; height: 250px !important;" [src]="product.image? product.image:'../../assets/reel.jpg'" alt="" class="card image-top">
                      <div class="card-body">
                          <h3 class="card-titel text-center">{{product.name}}</h3>
                          <p class="card-text text-center">$ {{product.price}}</p>
                          <div (click)="addToCart(product)" id="btn3"><button> <ion-icon class="mr-4" name="cart"></ion-icon> Add to cart</button></div>
                      </div>
                  </div>
              </div>
            </ng-container> 

          </div>
  
  
  
         
      </div>
    </ng-container>
    </ion-row>
    <ion-row class="mt-5">
      <app-testimonial-carousel></app-testimonial-carousel>
    </ion-row>
    <ion-row class="mb-5 mt-5"></ion-row>
  </ion-grid>
</ion-content>


 


